docuteam-packer-dist/src/main/resources/templates/BARSIP/header/xsd/arelda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:arelda="http://bar.admin.ch/arelda/v4"
           xmlns="http://bar.admin.ch/arelda/v4"
           targetNamespace="http://bar.admin.ch/arelda/v4"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="4.0">
    <xs:include schemaLocation="ablieferung.xsd"/>
    <xs:include schemaLocation="paket.xsd"/>
    <xs:include schemaLocation="provenienz.xsd"/>
    <xs:include schemaLocation="ordnungssystem.xsd"/>
    <xs:include schemaLocation="ordnungssystemposition.xsd"/>
    <xs:include schemaLocation="dossier.xsd"/>
    <xs:include schemaLocation="dokument.xsd"/>
    <xs:include schemaLocation="ordner.xsd"/>
    <xs:include schemaLocation="datei.xsd"/>
    <xs:include schemaLocation="archivischerVorgang.xsd"/>
    <xs:include schemaLocation="archivischeNotiz.xsd"/>
    <xs:include schemaLocation="zusatzDaten.xsd"/>
    
    
    
    <xs:element name="paket" type="paket">
        <xs:key name="ordnungssystempositionIdKey">
            <xs:annotation>
                <xs:documentation>Das Element id in der Entität Ordnungssystemposition muss eindeutig sein.</xs:documentation>
            </xs:annotation>
            <xs:selector xpath=".//arelda:ordnungssystemposition"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:key name="dossierIdKey">
            <xs:annotation>
                <xs:documentation>Das Element id in der Entität Dossier muss eindeutig sein.</xs:documentation>
            </xs:annotation>
            <xs:selector xpath=".//arelda:dossier"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:key name="dokumentIdKey">
            <xs:annotation>
                <xs:documentation>Das Element id in der Entität Dokument muss eindeutig sein.</xs:documentation>
            </xs:annotation>
            <xs:selector xpath=".//arelda:dokument"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:key name="archivischeNotizIdKey">
            <xs:annotation>
                <xs:documentation>Das Element id in der Entität ArchivischeNotiz muss eindeutig sein.</xs:documentation>
            </xs:annotation>
            <xs:selector xpath=".//arelda:archivischeNotiz"/>
            <xs:field xpath="@id"/>
        </xs:key>
    </xs:element>
    
    <xs:complexType name="paket" abstract="true">
    	
    	
        <xs:sequence>
            <xs:element name="paketTyp" type="paketTyp"/>
            <xs:element name="zusatzDaten" type="zusatzDaten" minOccurs="0"/>
        </xs:sequence>
		    <xs:attribute name="schemaVersion" type="schemaVersion" use="required"/>
    </xs:complexType>

    <xs:complexType name="paketSIP">
        <xs:complexContent>
            <xs:extension base="paket">
                <xs:sequence>
                    <xs:element name="inhaltsverzeichnis" type="inhaltsverzeichnisSIP"/>
                    <xs:element name="ablieferung" type="ablieferungSIP"/>
                    <xs:element name="archivischerVorgang" minOccurs="0" maxOccurs="unbounded"
                           type="archivischerVorgang"/>
                    <xs:element name="referenzUebernahmedossier" minOccurs="0" type="referenzUebernahmedossier"/>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="paketAIP">
        <xs:complexContent>
            <xs:extension base="paket">
                <xs:sequence>
            		<xs:element name="globaleAIPId" type="globaleAIPId"/>
            		<xs:element name="lokaleAIPId" type="lokaleAIPId"/>
            		<xs:element name="fruehereLokaleAIPId" minOccurs="0" type="fruehereLokaleAIPId"/>
           			<xs:element name="nameSIP" type="nameSIP" minOccurs="0"/>
                    <xs:element name="version" minOccurs="1" type="version"/>
                    <xs:element name="inhaltsverzeichnis" type="inhaltsverzeichnisAIP"/>
                    <xs:element name="ablieferung" type="ablieferungAIP"/>
                    <xs:element name="archivischerVorgang" minOccurs="0" maxOccurs="unbounded"
                           type="archivischerVorgang"/>
                    <xs:element name="referenzUebernahmedossier" minOccurs="0" type="referenzUebernahmedossier"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="paketDIP">
        <xs:complexContent>
            <xs:extension base="paket">
                <xs:sequence>
            		<xs:element name="globaleAIPId" type="globaleAIPId"/>
            		<xs:element name="lokaleAIPId" type="lokaleAIPId"/>
            		<xs:element name="fruehereLokaleAIPId" minOccurs="0" type="fruehereLokaleAIPId"/>
           			<xs:element name="nameSIP" type="nameSIP" minOccurs="0"/>
                    <xs:element name="inhaltsverzeichnis" type="inhaltsverzeichnisDIP"/>
                    <xs:element name="ablieferung" type="ablieferungDIP"/>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="archivischerVorgang">
        <xs:sequence>
            <xs:element name="vorgangstyp" type="vorgangstyp"/>
            <xs:element name="beschreibung" type="beschreibung"/>
            <xs:element name="datum" type="zeitraum">
				        <xs:annotation>
					          <xs:documentation>Zeitpunkt, zu welchem der archivische Vorgang durchgeführt wurde.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
            <xs:element name="bearbeiter" type="bearbeiter"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ablieferung" abstract="true">
    	
        <xs:sequence>
            <xs:element name="ablieferungstyp" type="ablieferungstyp"/>
            <xs:element name="ablieferndeStelle" type="ablieferndeStelle"/>
            <xs:element name="entstehungszeitraum" minOccurs="0" type="historischerZeitraum">
				        <xs:annotation>
					          <xs:documentation>Der Entstehungszeitraum der Ablieferung wird aus dem ältesten Entstehungsdatum und dem jüngsten Datum der Dokumente oder Dateien ermittelt, die der Ablieferung zugeordneten  sind. Der Zeitraum kann auch geschätzt sein.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
            <xs:element name="ablieferungsteile" minOccurs="0" type="ablieferungsteile"/>
            <xs:element name="bemerkung" minOccurs="0" type="bemerkungAblieferung"/>
            <xs:element name="zusatzDaten" type="zusatzDaten" minOccurs="0"/>
            <xs:element name="unstrukturierterAnhang" minOccurs="0" maxOccurs="unbounded"
                     type="unstrukturierterAnhang">
               	<xs:unique name="uniqueDateiRefUnstrukturierterAnhang">
					          <xs:annotation>
                  <xs:documentation>Eine Datei darf nur einmal referenziert werden.</xs:documentation>
               </xs:annotation>
					          <xs:selector xpath="./arelda:dateiRef"/>
					          <xs:field xpath="."/>
				        </xs:unique>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ablieferungSIP" abstract="true">
    	

        <xs:complexContent>
            <xs:extension base="ablieferung">
                <xs:sequence>
                    <xs:element name="ablieferungsnummer" minOccurs="0" type="ablieferungsnummer"/>
                    <xs:element name="angebotsnummer" minOccurs="0" type="angebotsnummer"/>
                    <xs:element name="referenzBewertungsentscheid" minOccurs="0"
                           type="referenzBewertungsentscheid"/>
                    <xs:element name="referenzSchutzfristenFormular" minOccurs="0"
                           type="referenzSchutzfristenFormular"/>
                    <xs:element name="schutzfristenkategorie" minOccurs="0"
                           type="schutzfristenkategorieAblieferung"/>
                    <xs:element name="schutzfrist" minOccurs="0" type="schutzfristAblieferung"/>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ablieferungGeverSIP">
        <xs:complexContent>
            <xs:extension base="ablieferungSIP">
                <xs:sequence>
                    <xs:element name="provenienz" type="provenienzGeverSIP"/>
                    <xs:element name="ordnungssystem" type="ordnungssystemGeverSIP"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ablieferungFilesSIP">
        <xs:complexContent>
            <xs:extension base="ablieferungSIP">
                <xs:sequence>
                    <xs:element name="provenienz" type="provenienzFilesSIP"/>
                    <xs:element name="ordnungssystem" type="ordnungssystemFilesSIP"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ablieferungAIP" abstract="true">
        <xs:complexContent>
            <xs:extension base="ablieferung">
                <xs:sequence>
                    <xs:element name="ablieferungsnummer" type="ablieferungsnummer"/>
                    <xs:element name="angebotsnummer" minOccurs="0" type="angebotsnummer"/>
                    <xs:element name="referenzBewertungsentscheid" minOccurs="0"
                           type="referenzBewertungsentscheid"/>
                    <xs:element name="referenzSchutzfristenFormular" minOccurs="0"
                           type="referenzSchutzfristenFormular"/>
                    <xs:element name="schutzfristenkategorie" minOccurs="0"
                           type="schutzfristenkategorieAblieferung"/>
                    <xs:element name="schutzfrist" minOccurs="0" type="schutzfristAblieferung"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ablieferungGeverAIP">
        <xs:complexContent>
            <xs:extension base="ablieferungAIP">
                <xs:sequence>
                    <xs:element name="provenienz" type="provenienzGeverAIP"/>
                    <xs:element name="ordnungssystem" type="ordnungssystemGeverAIP"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ablieferungFilesAIP">
        <xs:complexContent>
            <xs:extension base="ablieferungAIP">
                <xs:sequence>
                    <xs:element name="provenienz" type="provenienzFilesAIP"/>
                    <xs:element name="ordnungssystem" type="ordnungssystemFilesAIP"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ablieferungDIP" abstract="true">
        <xs:complexContent>
            <xs:extension base="ablieferung">
                <xs:sequence>
                    <xs:element name="ablieferungsnummer" type="ablieferungsnummer"/>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ablieferungGeverDIP">
        <xs:complexContent>
            <xs:extension base="ablieferungDIP">
                <xs:sequence>
                    <xs:element name="provenienz" type="provenienzGeverDIP"/>
                    <xs:element name="ordnungssystem" type="ordnungssystemGeverDIP"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ablieferungFilesDIP">
        <xs:complexContent>
            <xs:extension base="ablieferungDIP">
                <xs:sequence>
                    <xs:element name="provenienz" type="provenienzFilesDIP"/>
                    <xs:element name="ordnungssystem" type="ordnungssystemFilesDIP"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="provenienz" abstract="true">
        <xs:sequence>
            <xs:element name="aktenbildnerName" type="aktenbildnerName"/>
            <xs:element name="systemName" minOccurs="0" type="systemName"/>
            <xs:element name="systemBeschreibung" minOccurs="0" type="systemBeschreibung"/>
            <xs:element name="existenzzeitraum" minOccurs="0" type="historischerZeitraum">
				        <xs:annotation>
					          <xs:documentation>Zeitraum der Existenz des Aktenbildners.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
            <xs:element name="geschichteAktenbildner" minOccurs="0" type="geschichteAktenbildner"/>
            <xs:element name="bemerkung" minOccurs="0" type="bemerkungProvenienz"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="provenienzGever" abstract="true">
        <xs:complexContent>
            <xs:extension base="provenienz">
                <xs:sequence>
                    <xs:element name="registratur" type="registratur"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="provenienzGeverSIP">
        <xs:complexContent>
            <xs:extension base="provenienzGever">
                <xs:sequence>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="provenienzGeverAIP">
        <xs:complexContent>
            <xs:extension base="provenienzGever">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="provenienzGeverDIP">
        <xs:complexContent>
            <xs:extension base="provenienzGever">
                <xs:sequence>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="provenienzFiles" abstract="true">
        <xs:complexContent>
            <xs:extension base="provenienz">
                <xs:sequence>
                    <xs:element name="registratur" minOccurs="0" type="registratur"/>
                    <xs:element name="verwandteSysteme" minOccurs="0" type="verwandteSysteme"/>
                    <xs:element name="archivierungsmodusLoeschvorschriften" minOccurs="0"
                           type="archivierungsmodusLoeschvorschriften"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="provenienzFilesSIP">
        <xs:complexContent>
            <xs:extension base="provenienzFiles">
                <xs:sequence>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="provenienzFilesAIP">
        <xs:complexContent>
            <xs:extension base="provenienzFiles">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="provenienzFilesDIP">
        <xs:complexContent>
            <xs:extension base="provenienzFiles">
                <xs:sequence>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ordnungssystem" abstract="true">
    	

        <xs:sequence>
            <xs:element name="generation" minOccurs="0" type="generation"/>
            <xs:element name="anwendungszeitraum" minOccurs="0" type="historischerZeitraum">
				        <xs:annotation>
					          <xs:documentation>Zeitraum, seit/während dem das Ordnungssystem bei der aktenbildenden Stelle eingesetzt wird/wurde.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
            <xs:element name="mitbenutzung" minOccurs="0" type="mitbenutzung"/>
            <xs:element name="bemerkung" minOccurs="0" type="bemerkungOrdnungssysstem"/>
            <xs:element name="zusatzDaten" type="zusatzDaten" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ordnungssystemGever" abstract="true">
        <xs:complexContent>
            <xs:extension base="ordnungssystem">
                <xs:sequence>
                    <xs:element name="name" type="nameOrdnungssystem"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ordnungssystemGeverSIP">
        <xs:complexContent>
            <xs:extension base="ordnungssystemGever">
                <xs:sequence>
                    <xs:element name="ordnungssystemposition" type="ordnungssystempositionGeverSIP"
                           minOccurs="1"
                           maxOccurs="unbounded"/>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ordnungssystemGeverAIP">
        <xs:complexContent>
            <xs:extension base="ordnungssystemGever">
                <xs:sequence>
                    <xs:element name="ordnungssystemposition" type="ordnungssystempositionGeverAIP"
                           minOccurs="1"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ordnungssystemGeverDIP">
        <xs:complexContent>
            <xs:extension base="ordnungssystemGever">
                <xs:sequence>
                    <xs:element name="ordnungssystemposition" type="ordnungssystempositionGeverDIP"
                           minOccurs="1"
                           maxOccurs="unbounded"/>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ordnungssystemFiles" abstract="true">
    	

        <xs:complexContent>
            <xs:extension base="ordnungssystem">
                <xs:sequence>
                    <xs:element name="name" minOccurs="0" type="nameOrdnungssystem"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ordnungssystemFilesSIP">
        <xs:complexContent>
            <xs:extension base="ordnungssystemFiles">
                <xs:sequence>
                    <xs:element name="ordnungssystemposition" type="ordnungssystempositionFilesSIP"
                           minOccurs="1"
                           maxOccurs="unbounded"/>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ordnungssystemFilesAIP">
        <xs:complexContent>
            <xs:extension base="ordnungssystemFiles">
                <xs:sequence>
                    <xs:element name="ordnungssystemposition" type="ordnungssystempositionFilesAIP"
                           minOccurs="1"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ordnungssystemFilesDIP">
        <xs:complexContent>
            <xs:extension base="ordnungssystemFiles">
                <xs:sequence>
                    <xs:element name="ordnungssystemposition" type="ordnungssystempositionFilesDIP"
                           minOccurs="1"
                           maxOccurs="unbounded"/>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ordnungssystemposition" abstract="true">
    	
          
        <xs:sequence>
            <xs:element name="federfuehrendeOrganisationseinheit" minOccurs="0"
                     type="federfuehrendeOrganisationseinheitOrdnungssystemposition"/>
            <xs:element name="klassifizierungskategorie" minOccurs="0"
                     type="klassifizierungskategorieOrdnungssystemposition"/>
            <xs:element name="datenschutz" minOccurs="0" type="datenschutzOrdnungssystemposition"/>
            <xs:element name="oeffentlichkeitsstatus" minOccurs="0"
                     type="oeffentlichkeitsstatusOrdnungssystemposition"/>
            <xs:element name="oeffentlichkeitsstatusBegruendung" minOccurs="0"
                     type="oeffentlichkeitsstatusBegruendungOrdnungssystemposition"/>
            <xs:element name="sonstigeBestimmungen" minOccurs="0"
                     type="sonstigeBestimmungenOrdnungssystemposition"/>
            <xs:element name="zusatzDaten" type="zusatzDaten" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ordnungssystempositionGever" abstract="true">
        <xs:complexContent>
            <xs:extension base="ordnungssystemposition">
                <xs:sequence>
                    <xs:element name="nummer" type="nummer"/>
                    <xs:element name="titel" type="titelOrdnungssystemposition"/>
                </xs:sequence>
                <xs:attribute name="id" type="idOrdnungssystemposition" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ordnungssystempositionGeverSIP">
    	

        <xs:complexContent>
            <xs:extension base="ordnungssystempositionGever">
                <xs:sequence>
                    <xs:element name="schutzfristenkategorie" minOccurs="0"
                           type="schutzfristenkategorieOrdnungssystemposition"/>
                    <xs:element name="schutzfrist" minOccurs="0" type="schutzfristOrdnungssystemposition"/>
                    <xs:element name="schutzfristenBegruendung" minOccurs="0"
                           type="schutzfristenBegruendungOrdnungssystemposition"/>
                    <xs:element name="ordnungssystemposition" minOccurs="0" maxOccurs="unbounded"
                           type="ordnungssystempositionGeverSIP"/>
                    <xs:element name="dossier" minOccurs="0" maxOccurs="unbounded" type="dossierGeverSIP"/>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ordnungssystempositionGeverAIP">
        <xs:complexContent>
            <xs:extension base="ordnungssystempositionGever">
                <xs:sequence>
                    <xs:element name="schutzfristenkategorie" minOccurs="0"
                           type="schutzfristenkategorieOrdnungssystemposition"/>
                    <xs:element name="schutzfrist" minOccurs="0" type="schutzfristOrdnungssystemposition"/>
                    <xs:element name="schutzfristenBegruendung" minOccurs="0"
                           type="schutzfristenBegruendungOrdnungssystemposition"/>
                    <xs:element name="ordnungssystemposition" minOccurs="0" maxOccurs="unbounded"
                           type="ordnungssystempositionGeverAIP"/>
                    <xs:element name="dossier" minOccurs="0" maxOccurs="unbounded" type="dossierGeverAIP"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ordnungssystempositionGeverDIP">
        <xs:complexContent>
            <xs:extension base="ordnungssystempositionGever">
                <xs:sequence>
                    <xs:element name="ordnungssystemposition" minOccurs="0" maxOccurs="unbounded"
                           type="ordnungssystempositionGeverDIP"/>
                    <xs:element name="dossier" minOccurs="0" maxOccurs="unbounded" type="dossierGeverDIP"/>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ordnungssystempositionFiles" abstract="true">
    	

        <xs:complexContent>
            <xs:extension base="ordnungssystemposition">
                <xs:sequence>
                    <xs:element name="nummer" minOccurs="0" type="nummer"/>
                    <xs:element name="titel" minOccurs="0" type="titelOrdnungssystemposition"/>
                </xs:sequence>
                <xs:attribute name="id" type="idOrdnungssystemposition" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ordnungssystempositionFilesSIP">
    	

        <xs:complexContent>
            <xs:extension base="ordnungssystempositionFiles">
                <xs:sequence>
                    <xs:element name="schutzfristenkategorie" minOccurs="0"
                           type="schutzfristenkategorieOrdnungssystemposition"/>
                    <xs:element name="schutzfrist" minOccurs="0" type="schutzfristOrdnungssystemposition"/>
                    <xs:element name="schutzfristenBegruendung" minOccurs="0"
                           type="schutzfristenBegruendungOrdnungssystemposition"/>
                    <xs:element name="ordnungssystemposition" minOccurs="0" maxOccurs="unbounded"
                           type="ordnungssystempositionFilesSIP"/>
                    <xs:element name="dossier" minOccurs="0" maxOccurs="unbounded" type="dossierFilesSIP">
                    	<xs:unique name="uniqueDateiRefDossierFilesSIP">
							              <xs:annotation>
                        <xs:documentation>Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                     </xs:annotation>
							              <xs:selector xpath="./arelda:dateiRef"/>
							              <xs:field xpath="."/>
						            </xs:unique>
                    </xs:element>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ordnungssystempositionFilesAIP">
        <xs:complexContent>
            <xs:extension base="ordnungssystempositionFiles">
                <xs:sequence>
                    <xs:element name="schutzfristenkategorie" minOccurs="0"
                           type="schutzfristenkategorieOrdnungssystemposition"/>
                    <xs:element name="schutzfrist" minOccurs="0" type="schutzfristOrdnungssystemposition"/>
                    <xs:element name="schutzfristenBegruendung" minOccurs="0"
                           type="schutzfristenBegruendungOrdnungssystemposition"/>
                    <xs:element name="ordnungssystemposition" minOccurs="0" maxOccurs="unbounded"
                           type="ordnungssystempositionFilesAIP"/>
                    <xs:element name="dossier" minOccurs="0" maxOccurs="unbounded" type="dossierFilesAIP">
                    	<xs:unique name="uniqueDateiRefDossierFilesAIP">
							              <xs:annotation>
                        <xs:documentation>Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                     </xs:annotation>
							              <xs:selector xpath="./arelda:dateiRef"/>
							              <xs:field xpath="."/>
						            </xs:unique>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ordnungssystempositionFilesDIP">
        <xs:complexContent>
            <xs:extension base="ordnungssystempositionFiles">
                <xs:sequence>
                    <xs:element name="ordnungssystemposition" minOccurs="0" maxOccurs="unbounded"
                           type="ordnungssystempositionFilesDIP"/>
                    <xs:element name="dossier" minOccurs="0" maxOccurs="unbounded" type="dossierFilesDIP">
                    	<xs:unique name="uniqueDateiRefDossierFilesDIP">
							              <xs:annotation>
                        <xs:documentation>Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                     </xs:annotation>
							              <xs:selector xpath="./arelda:dateiRef"/>
							              <xs:field xpath="."/>
						            </xs:unique>
                    </xs:element>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="dossier" abstract="true">
    	
    	
        <xs:sequence>
            <xs:element name="zusatzmerkmal" minOccurs="0" type="zusatzmerkmal"/>
            <xs:element name="titel" type="titelDossier"/>
            <xs:element name="inhalt" minOccurs="0" type="inhalt"/>
            <xs:element name="formInhalt" minOccurs="0" type="formInhalt"/>
            <xs:element name="erscheinungsform" minOccurs="0" type="erscheinungsformDossier"/>
            <xs:element name="federfuehrendeOrganisationseinheit" minOccurs="0"
                     type="federfuehrendeOrganisationseinheitDossier"/>
            <xs:element name="entstehungszeitraum" type="historischerZeitraum">
				        <xs:annotation>
					          <xs:documentation>Der Entstehungszeitraum des Dossiers wird aus dem ältesten Entstehungsdatum und dem jüngsten (Änderungs)datum aller dem Dossier zugeordneten Dokumente oder Dateien ermittelt. Der Zeitraum kann auch geschätzt sein.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
            <xs:element name="entstehungszeitraumAnmerkung" minOccurs="0"
                     type="entstehungszeitraumAnmerkung"/>
            <xs:element name="klassifizierungskategorie" minOccurs="0"
                     type="klassifizierungskategorieDossier"/>
            <xs:element name="datenschutz" minOccurs="0" type="datenschutzDossier"/>
            <xs:element name="oeffentlichkeitsstatus" minOccurs="0"
                     type="oeffentlichkeitsstatusDossier"/>
            <xs:element name="oeffentlichkeitsstatusBegruendung" minOccurs="0"
                     type="oeffentlichkeitsstatusBegruendungDossier"/>
            <xs:element name="sonstigeBestimmungen" minOccurs="0" type="sonstigeBestimmungenDossier"/>
            <xs:element name="bemerkung" minOccurs="0" type="bemerkungDossier"/>
            <xs:element name="zusatzDaten" type="zusatzDaten" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="idDossier" use="required"/>
    </xs:complexType>
    
    <xs:complexType name="dossierGever" abstract="true">
        <xs:complexContent>
            <xs:extension base="dossier">
                <xs:sequence>
                    <xs:element name="aktenzeichen" type="aktenzeichen"/>
                    <xs:element name="eroeffnungsdatum" minOccurs="0" type="historischerZeitpunkt">
						            <xs:annotation>
							              <xs:documentation>Zeitpunkt, an dem das Dossier eröffnet worden ist.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
                    <xs:element name="abschlussdatum" minOccurs="0" type="historischerZeitpunkt">
						            <xs:annotation>
							              <xs:documentation>Zeitpunkt, an dem das Dossier abgeschlossen worden ist.</xs:documentation>
						            </xs:annotation>
					          </xs:element>
                    <xs:element name="vorgang" minOccurs="0" maxOccurs="unbounded" type="vorgang"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="dossierGeverSIP">
    	

        <xs:complexContent>
            <xs:extension base="dossierGever">
                <xs:sequence>
                    <xs:element name="schutzfristenkategorie" minOccurs="0"
                           type="schutzfristenkategorieDossier"/>
                    <xs:element name="schutzfrist" minOccurs="0" type="schutzfristDossier"/>
                    <xs:element name="schutzfristenBegruendung" minOccurs="0"
                           type="schutzfristenBegruendungDossier"/>
                    <xs:element name="dossier" minOccurs="0" maxOccurs="unbounded" type="dossierGeverSIP"/>
		            <xs:element name="dokument" type="dokumentGeverSIP" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="dossierGeverAIP">
        <xs:complexContent>
            <xs:extension base="dossierGever">
                <xs:sequence>
                    <xs:element name="schutzfristenkategorie" minOccurs="0"
                           type="schutzfristenkategorieDossier"/>
                    <xs:element name="schutzfrist" minOccurs="0" type="schutzfristDossier"/>
                    <xs:element name="schutzfristenBegruendung" minOccurs="0"
                           type="schutzfristenBegruendungDossier"/>
                    <xs:element name="dossier" minOccurs="0" maxOccurs="unbounded" type="dossierGeverAIP"/>
		            <xs:element name="dokument" type="dokumentGeverAIP" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="dossierGeverDIP">
        <xs:complexContent>
            <xs:extension base="dossierGever">
                <xs:sequence>
                    <xs:element name="dossier" minOccurs="0" maxOccurs="unbounded" type="dossierGeverDIP"/>
		            <xs:element name="dokument" type="dokumentGeverDIP" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="dossierFiles" abstract="true">
    	

        <xs:complexContent>
            <xs:extension base="dossier">
                <xs:sequence>
                    <xs:element name="aktenzeichen" minOccurs="0" type="aktenzeichen"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="dossierFilesSIP">
    	

        <xs:complexContent>
            <xs:extension base="dossierFiles">
                <xs:sequence>
                    <xs:element name="schutzfristenkategorie" minOccurs="0"
                           type="schutzfristenkategorieDossier"/>
                    <xs:element name="schutzfrist" minOccurs="0" type="schutzfristDossier"/>
                    <xs:element name="schutzfristenBegruendung" minOccurs="0"
                           type="schutzfristenBegruendungDossier"/>
                    <xs:element name="dossier" minOccurs="0" maxOccurs="unbounded" type="dossierFilesSIP">
                    	<xs:unique name="uniqueDateiRefSubdossierFilesSIP">
							              <xs:annotation>
                        <xs:documentation>Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                     </xs:annotation>
							              <xs:selector xpath="./arelda:dateiRef"/>
							              <xs:field xpath="."/>
						            </xs:unique>
					          </xs:element>
                    <xs:element name="dokument" type="dokumentFilesSIP" minOccurs="0" maxOccurs="unbounded">
                    	<xs:unique name="uniqueDateiRefDokumentFilesSIP">
							              <xs:annotation>
                        <xs:documentation>Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                     </xs:annotation>
							              <xs:selector xpath="./arelda:dateiRef"/>
							              <xs:field xpath="."/>
						            </xs:unique>
                    </xs:element>
            		<xs:element name="dateiRef" minOccurs="0" maxOccurs="unbounded" type="dateiRef"/>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
            		<xs:element name="umfang" minOccurs="0" type="umfang"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="dossierFilesAIP">
        <xs:complexContent>
            <xs:extension base="dossierFiles">
                <xs:sequence>
                    <xs:element name="schutzfristenkategorie" minOccurs="0"
                           type="schutzfristenkategorieDossier"/>
                    <xs:element name="schutzfrist" minOccurs="0" type="schutzfristDossier"/>
                    <xs:element name="schutzfristenBegruendung" minOccurs="0"
                           type="schutzfristenBegruendungDossier"/>
                    <xs:element name="dossier" minOccurs="0" maxOccurs="unbounded" type="dossierFilesAIP">
                    	<xs:unique name="uniqueDateiRefSubdossierFilesAIP">
							              <xs:annotation>
                        <xs:documentation>Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                     </xs:annotation>
							              <xs:selector xpath="./arelda:dateiRef"/>
							              <xs:field xpath="."/>
						            </xs:unique>
					          </xs:element>
                    <xs:element name="dokument" type="dokumentFilesAIP" minOccurs="0" maxOccurs="unbounded">
                    	<xs:unique name="uniqueDateiRefDokumentFilesAIP">
							              <xs:annotation>
                        <xs:documentation>Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                     </xs:annotation>
							              <xs:selector xpath="./arelda:dateiRef"/>
							              <xs:field xpath="."/>
						            </xs:unique>
					          </xs:element>
            		<xs:element name="dateiRef" minOccurs="0" maxOccurs="unbounded" type="dateiRef"/>
            		<xs:element name="umfang" minOccurs="0" type="umfang"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="dossierFilesDIP">
        <xs:complexContent>
            <xs:extension base="dossierFiles">
                <xs:sequence>
                    <xs:element name="dossier" minOccurs="0" maxOccurs="unbounded" type="dossierFilesDIP">
                    	<xs:unique name="uniqueDateiRefSubdossierFilesDIP">
							              <xs:annotation>
                        <xs:documentation>Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                     </xs:annotation>
							              <xs:selector xpath="./arelda:dateiRef"/>
							              <xs:field xpath="."/>
						            </xs:unique>
					          </xs:element>
                    <xs:element name="dokument" type="dokumentFilesDIP" minOccurs="0" maxOccurs="unbounded">
                    	<xs:unique name="uniqueDateiRefDokumentFilesDIP">
							              <xs:annotation>
                        <xs:documentation>Eine Datei darf nur einmal referenziert werden.</xs:documentation>
                     </xs:annotation>
							              <xs:selector xpath="./arelda:dateiRef"/>
							              <xs:field xpath="."/>
						            </xs:unique>
					          </xs:element>
            		<xs:element name="dateiRef" minOccurs="0" maxOccurs="unbounded" type="dateiRef"/>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
	  <xs:simpleType name="dateiRef">
		    <xs:restriction base="xs:IDREFS">
			      <xs:length value="1"/>
		    </xs:restriction>
	  </xs:simpleType>
	
	

	  <xs:complexType name="dokument" abstract="true">
    	
    	
        <xs:sequence>
            <xs:element name="titel" type="titelDokument"/>
            <xs:element name="autor" minOccurs="0" maxOccurs="unbounded" type="autor"/>
            <xs:element name="erscheinungsform" type="erscheinungsformDokument"/>
            <xs:element name="dokumenttyp" minOccurs="0" type="dokumenttyp"/>
            <xs:element name="registrierdatum" minOccurs="0" type="historischerZeitpunkt">
				        <xs:annotation>
					          <xs:documentation>Zeitpunkt an welchem das Dokument im System einem Dossier zugeordnet worden ist.</xs:documentation>
				        </xs:annotation>
			      </xs:element>            
            <xs:element name="entstehungszeitraum" minOccurs="0" type="historischerZeitraum">
				        <xs:annotation>
					          <xs:documentation>Zeitliche Angabe über die Entstehung des Dokuments. Als Entstehung des Dokuments kann das Datum seiner Erstellung angegeben werden, oder den Zeitraum, in dem das Dokument entstanden ist (aus dem ältesten Entstehungsdatum und dem jüngsten Datum des Dokuments ermittelt). Der Zeitraum kann auch geschätzt sein.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
            <xs:element name="klassifizierungskategorie" minOccurs="0"
                     type="klassifizierungskategorieDokument"/>
            <xs:element name="datenschutz" minOccurs="0" type="datenschutzDokument"/>
            <xs:element name="oeffentlichkeitsstatus" minOccurs="0"
                     type="oeffentlichkeitsstatusDokument"/>
            <xs:element name="oeffentlichkeitsstatusBegruendung" minOccurs="0"
                     type="oeffentlichkeitsstatusBegruendungDokument"/>
            <xs:element name="sonstigeBestimmungen" minOccurs="0" type="sonstigeBestimmungenDokument"/>
            <xs:element name="bemerkung" minOccurs="0" type="bemerkungDokument"/>
            <xs:element name="zusatzDaten" type="zusatzDaten" minOccurs="0"/>
            <xs:element name="dateiRef" minOccurs="0" maxOccurs="unbounded" type="dateiRef"/>
        </xs:sequence>
        <xs:attribute name="id" type="idDokument" use="required"/>
    </xs:complexType>
    
    <xs:complexType name="dokumentGever" abstract="true">
        <xs:complexContent>
            <xs:extension base="dokument">
                <xs:sequence>
                    <xs:element name="anwendung" minOccurs="0" type="anwendung"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="dokumentGeverSIP">
        <xs:complexContent>
            <xs:extension base="dokumentGever">
                <xs:sequence>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="dokumentGeverAIP">
        <xs:complexContent>
            <xs:extension base="dokumentGever">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="dokumentGeverDIP">
        <xs:complexContent>
            <xs:extension base="dokumentGever">
                <xs:sequence>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="dokumentFiles" abstract="true">
        <xs:complexContent>
            <xs:extension base="dokument">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="dokumentFilesSIP">
        <xs:complexContent>
            <xs:extension base="dokumentFiles">
                <xs:sequence>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="dokumentFilesAIP">
        <xs:complexContent>
            <xs:extension base="dokumentFiles">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="dokumentFilesDIP">
        <xs:complexContent>
            <xs:extension base="dokumentFiles">
                <xs:sequence>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="inhaltsverzeichnis" abstract="true">
        <xs:sequence/>
    </xs:complexType>
    
    <xs:complexType name="inhaltsverzeichnisSIP">
        <xs:complexContent>
            <xs:extension base="inhaltsverzeichnis">
                <xs:sequence>
                    <xs:element name="ordner" type="ordnerSIP" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="datei" type="dateiSIP" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="inhaltsverzeichnisAIP">
        <xs:complexContent>
            <xs:extension base="inhaltsverzeichnis">
                <xs:sequence>
                    <xs:element name="ordner" type="ordnerAIP" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="datei" type="dateiAIP" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="inhaltsverzeichnisDIP">
        <xs:complexContent>
            <xs:extension base="inhaltsverzeichnis">
                <xs:sequence>
                    <xs:element name="ordner" type="ordnerDIP" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="datei" type="dateiDIP" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="datei" abstract="true">
    	

        <xs:sequence>
            <xs:element name="name" type="nameDatei"/>
            <xs:element name="originalName" type="originalName" minOccurs="0"/>
            <xs:element name="pruefalgorithmus" type="pruefalgorithmus"/>
            <xs:element name="pruefsumme" type="pruefsumme"/>
            <xs:element name="eigenschaft" type="eigenschaftDatei" minOccurs="0" maxOccurs="unbounded">
            	<xs:annotation>
					          <xs:documentation>Name und Wert von technischen Eigenschaften der Dateien wie z.B. Felddelemiter.</xs:documentation>
				        </xs:annotation>
			      </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="idDatei" use="required"/>
    </xs:complexType>

    <xs:complexType name="dateiSIP">
        <xs:complexContent>
            <xs:extension base="datei">
                <xs:sequence>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="dateiAIP">
        <xs:complexContent>
            <xs:extension base="datei">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="dateiDIP">
        <xs:complexContent>
            <xs:extension base="datei">
                <xs:sequence>
                    <xs:element name="archivischeNotiz" type="archivischeNotiz" minOccurs="0"
                           maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ordner" abstract="true">
    	

        <xs:sequence>
            <xs:element name="name" type="nameOrdner"/>
            <xs:element name="originalName" type="originalName" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ordnerSIP">
        <xs:complexContent>
            <xs:extension base="ordner">
                <xs:sequence>
                    <xs:element name="ordner" type="ordnerSIP" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="datei" type="dateiSIP" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ordnerAIP">
        <xs:complexContent>
            <xs:extension base="ordner">
                <xs:sequence>
                    <xs:element name="ordner" type="ordnerAIP" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="datei" type="dateiAIP" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ordnerDIP">
        <xs:complexContent>
            <xs:extension base="ordner">
                <xs:sequence>
                    <xs:element name="ordner" type="ordnerDIP" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="datei" type="dateiDIP" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="unstrukturierterAnhang">
        <xs:sequence>
            <xs:annotation>
                <xs:documentation>Referenz zu einer Datei im Inhaltsverzeichnis des Pakets.</xs:documentation>
            </xs:annotation>
            <xs:element name="dateiRef" minOccurs="0" type="dateiRef"/>
            <xs:element name="dateiBeschreibung" type="text4">
                <xs:annotation>
                    <xs:documentation>Zusätzliche unstrukturierte Informationen, welche der Ablieferung fakultativ mitgegeben werden können.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="archivischeNotiz">
        <xs:sequence>
            <xs:element name="notizDatum" type="notizDatum"/>
            <xs:element name="notizErfasser" type="notizErfasser" minOccurs="0"/>
            <xs:element name="notizBeschreibung" type="notizBeschreibung"/>
        </xs:sequence>
        <xs:attribute name="id" type="idArchivischeNotiz" use="required"/>
    </xs:complexType>

    <xs:complexType name="eigenschaftDatei">
        <xs:simpleContent>
            <xs:extension base="eigenschaft">
                <xs:attribute name="name" type="text4" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
</xs:schema>